@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

:root
{
    --primary-color: #047857;
    --font-color : white;
}

body
{
    font-family: 'Architects Daughter', cursive;
    margin: 0px;
}

.bg-pic{
    width: 100%;
    height : 100%;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(./Images/background-img.jpg);
    background-size: cover;
    background-position: center;
}

.navigation
{
    /* background-color: var(--primary-color); */
    color: var(--font-color);
    text-align: center;
    padding: 1rem;
}

.navigation h1
{
    font-size: xx-large;
}

.hero
{
    padding: 2rem;
}

.hero .img-hero
{
    max-width: 350px;
    display: block;
    margin: auto;
}    

main
{
    max-width: 600px;
    margin: auto;
}

.input-text
{
    color: white;
    width : 100%;
    min-height : 12vh;
    display : block;
    margin: 2rem 0;
    font-family: inherit;
    font-size: x-large;
    background: transparent;
    border: none;
    outline: none;
}

/* .input-text:focus{
    border: none;
} */

::placeholder{
    color: white;
}

.btn
{
    background-color: #C48334;
    color: white;
    font-size: x-large;
    font-weight: bold;
    padding: 1rem 2rem;
    border: none;
    font-family: 'Architects Daughter', cursive;
    margin: 0.5rem 0;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.5s;
    outline: none;
}

.btn:hover{
    background: none;
}

.op
{
    margin-bottom: 1rem;
    font-size : x-large;
}

.output
{
    border: none;
    min-height: 10vh;
    max-height: 20vh;
    width: 100%;
    /* padding: 1rem; */
    font-size: x-large;
    margin: 2rem auto;
    background: none;
    color: white;
}

.footer
{
    /* background-color: var(--primary-color); */
    color: var(--font-color);
    padding: 2rem;
    text-align: center;
    margin-top: 2rem;
}

.footer .footer-header
{
    font-weight: bold;
    font-size: xx-large;
}

.footer .footer-para
{
    max-width: 600px;
    font-size: x-large;
    margin: auto;
}